*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-color: #333;
	color: #f3f3f3;
}

.container{
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.keys{
	border: 1px solid rgb(15, 206, 190);
	display: grid;	
	place-items: center;
	padding: 7px;
	width: 100px;
	height: 100px;
	transition: all .07s;
}
.playing{
	transform: scale(1.1);
	border-color: rgb(240, 86, 15, .6);
	box-shadow: 0px 0px 15px #030303;
}